/* Base */
/* ----------------------------------------------------------*/
a, a:visited {
    color: #5ab5ab;
}
a:hover {
    color: #459189;
}
.hide-text {
    display: inline-block;
    overflow: hidden;
    outline: none;
    text-indent: -99999px;
}

.site-title, .site-title:hover, .site-title:visited {
    color: white;
}


/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site header */

.site-header {
    border: none;
    background-color: #000;
    background-repeat: repeat-x;
    background-position: center;
    border-bottom: 1px solid #e8e8e8;
    height:350px;
    color: white;
    position: relative;
    z-index: 10;
}

.site-header-separation {
    background-color: #1A1A1A;
    background-color: rgba(26, 26, 46, 0.3);
}

/* Logo */

.site-header-logo,
.site-header-logo .logo,
.site-header-bglogo:before {
    width: 200px;
    height: 200px;
    display: block;
}

.site-header-logo, .site-header-bglogo:before {
    position: fixed;
    left: 40px;
    top: 40px;
    border-radius: 50%;
}

.site-header-logo {
    z-index: 99;
}
.site-header-logo .logo {
    position: absolute;
    top: 3px;
    left: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}
.site-header-bglogo:before {
    content: '';
    z-index: 1;
    background-color: #1A1A1A;
    border: 2px solid #1A1A1A;
}
/* END Logo */



.site-nav, .site-title, .site-title:hover, .site-title:visited {
    line-height: 35px;
}
.site-title, .site-title:hover, .site-title:visited {
    font-size: 22px;
    letter-spacing: 5px;
}

/* Post styles */
/* ----------------------------------------------------------*/
