/* Base */
/* ----------------------------------------------------------*/
a, a:visited {
    color: #5ab5ab;
}
a:hover {
    color: #459189;
}

.site-title, .site-title:hover, .site-title:visited {
    color: white;
}


/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site header */

.site-header {
    border-top: 5px solid #000;
    background-color: #000;
    background-repeat: repeat-x;
    background-position: center 31px;
    border-bottom: 1px solid #e8e8e8;
    padding-top: 103px;
    color: white;
}

.site-header-separation {
    background-color: #1A1A1A;
}

.site-header-logo {
    position: fixed;
    left: 50%;
    top: 10px;
    width: 240px;
    height: 240px;
    margin-left: -120px;
    overflow: hidden;
    z-index: 99;
    border-radius: 50%;
    border: 3px solid #1A1A1A;
}
.site-header-logo .logo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 240px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #1A1A1A;
}



/* Post styles */
/* ----------------------------------------------------------*/

.is_post .site-header-logo {
    left: 10px;
    top: 10px;
    width: 96px;
    height: 96px;
    margin-left: 0;
}
.is_post .site-header-logo .logo {
    width: 96px;
    height: 96px;
}
