/* Base */
/* ----------------------------------------------------------*/
a, a:visited {
    color: #5ab5ab;
}
a:hover {
    color: #459189;
}
.hide-text {
    display: inline-block;
    overflow: hidden;
    outline: none;
    text-indent: -99999px;
}

/* Layout and positionning */
.left {
    float: left;
}
.right{
    float: right;
}
.floatnone {
    float: none;
}
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}
.clear {
    clear: both;
}
.d-block {
    display: block;
}
.d-iblock {
    display: inline-block;
}
.d-inline{
    display: inline;
}

/* Text */
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.mute {
    color: #aaa;
}

/* Spacing */
.spaced-top {
    margin-top: 1em;
}
.spaced-right{
    margin-right: 1em;
}
.spaced-bottom {
    margin-bottom: 1em;
}
.spaced-left {
    margin-left: 1em;
}
.spaced-all {
    margin: 1em;
}
.spaced-auto {
    margin-left: auto;
    margin-right: auto;
}

.padded-top {
    padding-top: 1em;
}
.padded-right{
    padding-right: 1em;
}
.padded-bottom {
    padding-bottom: 1em;
}
.padded-left {
    padding-left: 1em;
}
.padded-all {
    padding: 1em;
}

/* Lists */

ul.inline li {
    display: inline-block;
}
ul.inline.spaced li {
    padding-right: 0.9em;
}

/* Colors */
/* ----------------------------------------------------------*/
pre, code,
.post pre, .post code {
    background-color: #E8E8E8;
    overflow: scroll;
    border: 1px solid #C9CDCA;
    font-size: 13px;
    border-radius: 3px;
}
pre {
    padding: 8px 12px;
}
code {
    padding: 1px 5px;
}
pre code {
    border: none;
    padding: 0;
}


/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site header */

.site-header {
    border: none;
    background-color: #000;
    background-repeat: repeat-x;
    background-position: center;
    background-size: 100%;
    border-bottom: 1px solid #e8e8e8;
    height: 350px;
    color: black;
    position: relative;
    z-index: 10;
    -webkit-box-shadow:inset 0 0 100px 100px rgba(0,0,0,0.4);
    box-shadow:inset 0 0 100px 100px rgba(0,0,0,0.4);
}

.site-header-separation {
    background-color: #1A1A1A;
    background-color: rgba(255, 255, 255, 0.5);
}

/* Logo */

.site-header-logo,
.site-header-logo .logo,
.site-header-bglogo:before {
    width: 200px;
    height: 200px;
    display: block;
}

.site-header-logo, .site-header-bglogo:before {
    position: fixed;
    left: 43px;
    top: 85px;
    border-radius: 50%;
}

.site-header-logo {
    z-index: 99;
}
.site-header-logo .logo {
    position: absolute;
    top: 3px;
    left: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}
.site-header-bglogo:before {
    content: '';
    z-index: 1;
    background-color: #1A1A1A;
    border: 2px solid #1A1A1A;
}
/* END Logo */



/* Font */
.site-title,
.site-title:hover,
.site-title:visited,
.site-nav .page-link {
    color: black;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}
.site-nav {
    line-height: 25px;
}


/* Page */
.page-content {
    padding: 10px 0
}


/* Post styles */
/* ----------------------------------------------------------*/
.post-content h1,
.post-content .post-link,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6,
.posts .post-link {
    margin: 1.5em 0;
    display: block;
}

.post-content {
    position: relative;
}

.post-content header {
    margin-top: 0;
}
.post-content h1,
.posts .h1,
.posts .post-link {
    font-size: 2em;
    letter-spacing: -2px;
}

.post-content .byline {
    position: absolute;
    width: 200px;
    left: -200px;
    top: 0;
}

.post-content .byline img {
    margin-right: 10px;
}
.post-content .date {
    font-size: 0.9em;
}
.post-content table {
    border: 1px solid #ddd;
}
.post-content table td {
    padding: 5px 1em;
}
.post-content table td {
    padding: 5px 1em;
}
.post-content table td + td {
    border-left: 1px solid #ddd;
}
.post-content table tr + tr {
    border-top: 1px solid #ddd;
}

.post-content ul.chevron_next li + li:before {
    content: "\00bb" ;
    margin-right: 0.9em;
}

.post-content img {
    max-width: 100%;
}

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/
.highlight .s2 { color: #9D4E6D;} /* Literal.String.Double */



/* About page */
/* ----------------------------------------------------------*/
.about-team-member {
    width: 20%;
}
.about-team-member img {
    border-radius: 50%;
}

@media screen and (max-width: 1300px) {
    .page-content .wrap {
        margin-right: 0;
        margin-left: 250px;
        zoom: 1;
    }
}
@media screen and (max-width: 768px) {
    .site-header {
        height: auto;
        min-height: 177px;
        margin-bottom: 70px;
    }
    .page-content .wrap {
        margin: 0 auto;
        zoom: 1;
    }
    .post-content .byline {
        position: relative;
        width: auto;
        left: auto;
        top: auto;
    }

    .site-header-logo {
        position: absolute;
        left: 50%;
        top: 70px;
        margin-left: -100px;
        background-color: #1A1A1A;
        border: 2px solid #1A1A1A;
    }
    .site-header-logo .logo {
        top: 1px;
        left: 1px;
    }
    .site-header-bglogo:before {
        display: none;
    }
    .about-team-member {
        width: 32%;
    }

}

@media screen and (max-width: 480px) {
    .site-header {
        background-image: none !important;
        min-height: 160px;
    }
    .site-header-logo {
        top: 53px;
    }
    .site-nav .page-link {
        color: #5ab5ab;
    }
    .about-team-member {
        width: 49%;
    }
}
